[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
requests = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
pillow = "*"
numpy = "*"
scikit-learn = "*"
opencv-python = "*"
rasterio = "*"
geopandas = "*"
folium = "*"
python-dotenv = "*"
celery = "*"
redis = "*"
django-filter = "*"
django-extensions = "*"
gunicorn = "*"
drf-yasg = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
